<a href="https://colab.research.google.com/github/vedricopane/DataScience-AnalisaDataKasusCovid19/blob/main/DataScience_AnalisaDataKasusCovid19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Connect ke googledrive :

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

* Load data :

In [5]:
import pandas as pd

cases_conf = pd.read_csv('/content/drive/MyDrive/Project/Data Science/Data Covid-19/confirmed_acc.csv')
pasien = pd.read_csv('/content/drive/MyDrive/Project/Data Science/Data Covid-19/patient.csv')
provinsi = pd.read_csv('/content/drive/MyDrive/Project/Data Science/Data Covid-19/province.csv', encoding='unicode_escape') #dilakukan encode karena eror saat read dataset, sehingga harus diencode dahulu.

In [6]:
cases_conf.head()

        date  cases
0  1/22/2020      0
1  1/23/2020      0
2  1/24/2020      0
3  1/25/2020      0
4  1/26/2020      0

In [7]:
pasien.head()

,patient_id,gender,age,nationality,province,current_state,contacted_with,confirmed_date,released_date,deceased_date,hospital
0,1,female,31.0,indonesia,DKI Jakarta,released,NaN,2-Mar-20,13-Mar-20,NaN,RSPI Sulianti Saroso
1,2,female,64.0,indonesia,DKI Jakarta,released,1.0,2-Mar-20,16-Mar-20,NaN,RSPI Sulianti Saroso
2,3,female,33.0,indonesia,DKI Jakarta,released,1.0,6-Mar-20,13-Mar-20,NaN,RSPI Sulianti Saroso
3,4,female,34.0,indonesia,DKI Jakarta,isolated,1.0,6-Mar-20,NaN,NaN,RSPI Sulianti Saroso
4,5,male,55.0,indonesia,DKI Jakarta,isolated,1.0,8-Mar-20,NaN,NaN,RS Persahabatan

In [8]:
provinsi.head()

,province_id,province_name,island,iso_code,capital_city,population,population_kmsquare,confirmed,deceased,released,longitude,latitude
0,1,Aceh,Sumatra,AC,Banda Aceh,4906835,86,4,0,0,9.672.895,3.869.994
1,2,Bali,Kepulauan Nusa Tenggara,BA,Denpasar,4104900,738,9,2,0,11.512.255,-825.731
2,3,Banten,Jawa,BT,Serang,11704877,1298,84,4,1,106.160.889,-6.315.299
3,4,Bengkulu,Sumatra,BE,Bengkulu,1844800,93,0,0,0,102.315.674,-3.414.725
4,5,DI Yogyakarta,Jawa,YO,Yogyakarta,3553100,1134,22,2,1,110.390.625,-7.863.382

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime, timedelta
from sklearn.model_selection import train_test_split

# **Prediksi Total Kasus Terkonfirmasi di Indonesia**

Melakukan prediksi kasus 60 hari ke depan.